.login {
  width: 100%;
  height: 100%;
  font-size: 30px;
  background-size: cover;
  background-repeat: no-repeat;
  position: fixed;

  &-logo {

  }

  &-form {
    background-color: #fff;
    padding: 80px 50px 65px;
  }

  &-title {
    font-size: 36px;
    font-weight: 500;
    margin-bottom: 30px;
  }

  &__signup {
    font-size: 16px;

    margin-bottom: 20px;

    span {
      color: #505050;

    }

    &-link {
      color: #1473e6;
      cursor: pointer;
      outline: none !important;
      border: none;
      background-color: transparent;
      font-size: 16px;
      text-decoration: none;

    }
  }

  &__signin {
    font-size: 15px;
    color: #747474;

    input {
    }
  }

  &__signin-email {

    input {
      width: 390px;
      background: transparent;
      border-bottom: 2px solid #eaeaea;
      border-top: none;
      border-right: none;
      border-left: none;
      height: 30px;
      min-height: 30px;
      font-size: 15px;
    }

    input:focus {
      outline: none;
      border-bottom: 3px solid #1473e6;
    }

    margin-bottom: 20px;
  }

  &__signin-password {
    width: 100%;

    input {
      width: 390px;
      background: transparent;
      border-bottom: 2px solid #eaeaea;
      border-top: none;
      border-right: none;
      border-left: none;
      height: 30px;
      min-height: 30px;
      font-size: 15px;
      box-sizing: border-box;

    }

    input:focus {
      outline: none;
      border-bottom: 3px solid #1473e6;
    }
  }

  &__signin-password {
    padding-bottom: 40px;
  }

  &__signin-submit {
    display: flex;
    justify-content: flex-end;

    input {
      background-color: #ffc617;

      border: none;
      border-radius: 4px;
      padding: 15px 30px;
      cursor: pointer;
      font-size: 15px;
      box-sizing: border-box;

      &:hover {
        -webkit-box-shadow: 0 8px 21px 17px rgba(34, 60, 80, 0.2) inset;
        -moz-box-shadow: 0 8px 21px 17px rgba(34, 60, 80, 0.2) inset;
        box-shadow: 0 8px 21px 17px rgba(34, 60, 80, 0.2) inset;
      }
    }
  }

  &__signin-submit:focus {
  }
}

.login__signin__password {
  width: 100%;

  input {
    width: 390px;
  }
}

.signin__group {
  display: flex;
  padding-bottom: 35px;
}

.container {
  max-width: 900px;
  display: flex;
  align-items: center;
  margin: 0 auto;
  justify-content: space-around;
  width: 100%;
  height: 100%;
}

.profile__card-submit {

}